<?php
/**
 * @copyright Copyright (c) 2014-2017 Elogic (http://www.elogic.com.ua)
 *
 * @see PROJECT_LICENSE.txt
 */

/**
 * @var Elogic\Vendor\Block\Product\Vendor $block
 */
?>

<span><b>VENDOR TEST BLOCK</b></span>
<ul>
    <?php foreach ($block->getVendorList() as $vendor) : ?>
        <li><h1><?php echo $vendor ?></h1></li>
    <?php endforeach; ?>
</ul>


